<h3>Update Employee</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="first_name" required [(ngModel)]="employee.first_name" name="first_name">
        </div>

        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="last_name" required [(ngModel)]="employee.last_name" name="last_name">
        </div>

        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>